body {
    background-image: url("./assets/back.jpg");
    background-repeat: no-repeat;
    background-size: auto;
   	overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}


.container{
    font-family: 'Roboto', sans-serif;
}

a {
    color: #c0d4ec;
    font-size: 17px;
    text-decoration: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #a195ad;
}


.tooltip {
    position: relative;
    display: inline-block;
  	font-size: 14px;
  	opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #95a6a9;    
}

/* #particles-js{
    width: 100%;
    height: 100%;
    background-color: rgb(58, 45, 45);
}

#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
} */
.main-container{
    background-color: rgba(214, 194, 194, 0.26);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    border-radius: 10px;
}

.main-title{
    text-align: center;
    padding: 3vh;
    padding-bottom: 1vh;
    color: #72d0e0db;
}

.submit-secsion{
    color: black;
    text-align: center;
    padding: 5%;
}

.main-body{
    margin: 19%;
    margin-top: 0%;
    background-color: #6d9ba29c;
    margin-bottom: 4%;
    padding: 2%;
    border-radius: 10px;
}

.container {
    width: 100%;
}

#dynafile{
	 text-align: right;
    clear: both;
    margin-right:30px;
    margin-top:0px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

.dyna-check{
	margin-bottom: 20px;
}

.main-body-container{
    width: 100%;
    border-radius: 5px;
}
.main-body-upload-button{
    width: 100%;
    border-radius: 5px;
    text-align: center;
}
.main-body-container-fs{
    background-color: #a4c9ccc9;
    border-radius: 5px;
    margin-bottom: 5%;
}

form input[type=submit] {
	background: url("assets/outbox.png") no-repeat center center;
    width:150px;
    height: 88px;
    border: none;
    color: transparent;
    font-size: 0;
}

.upload-lable{
    color: #72d0e0db;

}

/* form input[type=submit]:hover {
	background : url("assets/uploadIcon.png") no-repeat center center;
} */

.button-section{
    width: 100%;
    margin-left: 85%;
}

.clear-button{
    background : url("assets/redo1.png") no-repeat center center; 
    width: 32px;
    height: 32px;
    border: none;
    color: transparent;
    font-size: 0;
}

.clear-button:hover{
    background : url("assets/redo2.png") no-repeat center center; 
    width: 32px;
    height: 32px;
    border: none;
    color: transparent;
    font-size: 0;
}

.main-body-details{
    
    margin: 2%;
    margin-top: 2%;
    background-color: #6d9ba29c;
    border-radius: 10px;
}