<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Confianza-IPFS</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../static/bootstrap.css"
	th:href="@{/bootstrap.css}"></link>

<!-- Add Custome SCSS file -->
<link rel="stylesheet" href="style.css" th:href="@{/style.css}"></link>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto"
	th:href="@{https://fonts.googleapis.com/css?family=Roboto}"
	rel="stylesheet"></link>

<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>

<body>

	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a data-toggle="tab" href="#home">File
				Uploader</a></li>
		<li><a data-toggle="tab" href="#menu2">History</a></li>
	</ul>


	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">

			<div class="main-container" id="assertUploader">

				<div class="main-title">
					<h1>IPFS File Uploder</h1>
				</div>
				<div class="button-section">
					<button class="clear-button">Clear Data</button>
				</div>

				<form method="POST" enctype="multipart/form-data">
					<div class="main-body">
						<div class="main-body-title">
							<label> Select Files From Your Computer : </label>
						</div>
						<div class="main-body-container">
							<div class="main-body-container-fs">
								<input id="fileInput" type="file" name="file" th:multiple="true"
									onchange="myFunction()"></input>
							</div>

							<div class="dyna-check">

								<div class="tooltip">
									<label id="dynafile">Mark as dynamic file/s</label> <input
										type="checkbox" name="dynamicCheck" class="form-check-input " th:disabled="true"></input>
									<span class="tooltiptext">Make sure you have seleted the
										index.html file in order to host web app </span>
								</div>

							</div>


							<div class="container" th:if="${fileSizeArray}">
								<table class="table table-hover">
									<tbody>
										<tr th:each="u : ${fileSizeArray}">
											<td th:text="${u.name}"></td>
											<td th:text="${u.size}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="main-body-upload-button">
						<div class="">
							<input type="submit" value="Upload to IPFS" />
						</div>
						<div>
							<label class="upload-lable"> Upload to IPFS</label>
						</div>
					</div>
					<div class="main-body-details" th:if="${fileArray}">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">File Name</th>
									<th scope="col">IPFS Path</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="u : ${fileArray}">
									<td th:text="${u.name}"></td>
									<td ><a th:text="${u.path}" th:href="${u.path}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>

				</form>
			</div>

		</div>
		<div id="menu2" class="tab-pane fade">

			<div class="main-title">
				<h1>History Of Uploaded Files</h1>
			</div>


			<div class="main-body-details">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">File Name</th>
							<th scope="col">IPFS Path</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="u : ${ExecelList}">
							<td th:text="${u.name}"></td>
							<td ><a th:text="${u.path}" th:href="${u.path}"></a></td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>

	</div>


	<!-- <div th:if="${message}">
        <h4 th:text="${message}" ></h4>
    </div> -->



</body>

</html>